apiVersion: v1
kind: Service
metadata:
  name: kedevops-service
  labels:
    app: valaxy-devops-project
spec:
  selector:
    app: k8devops-test-project
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 32294
